@import "./assets/globalVars/";

* {
  font-family: "Lexend Deca";
}

body {
  padding: 0px;
  margin: 0px;
  background-color: $color3;
  font-size: 1rem;
}

.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex-grow: 1;
}
